{
  'env': {
    'production': {
      presets: [
        ['env', {
          modules: false,
          useBuiltIns: true
        }],
        'stage-0',
        'react'
      ],
      plugins: [
        'babel-plugin-transform-decorators-legacy'
      ]
    },
    'development': {
      presets: [
        'env',
        'stage-0',
        'react'
      ],
      plugins: [
        'babel-plugin-transform-decorators-legacy'
      ]
    }
  }
}
    
