{
  'env': {
    'production': {
      presets: [
        ['env', {
          modules: false
        }],
        'stage-0',
        'react'
      ],
      plugins: [
        'babel-plugin-transform-decorators-legacy'
      ]
    },
    'development': {
      presets: [
        'env',
        'stage-0',
        'react'
      ],
      plugins: [
        'react-hot-loader/babel',
        'babel-plugin-transform-decorators-legacy'
      ]
    }
  }
}
    
